<link rel="stylesheet" href="{{ 'mg_home-main.css' | asset_url }}">

<div class="container">
    <div class="row p-4 my-5 gap-3">
        <div class="col-6 col-md w-100">
            <a href="#">
                <div class="card text-center text-bg-dark rounded-0 border border-1 overlay-container">
                    <img src="{{ 'Group 158.jpg' | asset_url }}" class="card-img" alt="Women_Collection">
                    <div class="card-img-overlay d-flex flex-column justify-content-center overlay-text">
                        <h1 class="card-title">Women</h1>
                        <span class="text-decoration-underline"><small>Shop now</small></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md w-100">
            <a href="#">
                <div class="card text-center text-bg-dark rounded-0 border border-1 overlay-container">
                    <img src="{{ 'austin-wade-d2s8NQ6WD24-unsplash.png' | asset_url }}" class="card-img" alt="Men_Collection">
                    <div class="card-img-overlay d-flex flex-column justify-content-center overlay-text">
                        <h1 class="card-title">Men</h1>
                        <span class="text-decoration-underline"><small>Shop now</small></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>