<link rel="stylesheet" href="{{ 'mg_home-main.css' | asset_url }}">

<div class="container">
    <div class="row p-4 my-5">
        <div class="col-6 col-md w-100">
            <div class="card text-center text-bg-dark overlay-container">
                <img src="https://cdn.shopify.com/s/files/1/0593/1217/7314/products/austin-wade-d2s8NQ6WD24-unsplash_720x.jpg?v=1630731085" class="card-img" alt="Men_Collection">
                <div class="card-img-overlay d-flex flex-column justify-content-center overlay-text">
                    <h1 class="card-title">Men</h1>
                    <a href="#" class="btn btn-link card-text text-light"><small>Shop now</small></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md w-100">
            <div class="card text-center text-bg-dark overlay-container">
                <img src="https://cdn.shopify.com/s/files/1/0593/1217/7314/products/austin-wade-d2s8NQ6WD24-unsplash_720x.jpg?v=1630731085" class="card-img" alt="Men_Collection">
                <div class="card-img-overlay d-flex flex-column justify-content-center overlay-text">
                    <h1 class="card-title">Men</h1>
                    <a href="#" class="btn btn-link card-text text-light"><small>Shop now</small></a>
                </div>
            </div>
        </div>
    </div>
</div>