.overlay-container,
.overlay-text,
.overlay-container img{
   transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
}

.overlay-container{
    overflow: hidden;
}

.overlay-container img{
    transform: scale(1);
    -webkit-transform: scale(1);
}

.overlay-container:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.overlay-container:hover .overlay-text{
    visibility: visible;
    opacity: 1;
}    

.overlay-text{
    background-color: #000000;
    opacity: 0.3;
    visibility: hidden;
}
